

<!--================= start contect =============================-->

<div class="">
    <div class="container bg-success p-3 rounded">
        <h1 class="text-center text-white text-uppercase">Welcome from Contact Us page!</h1>
        <hr />
        <p class="text-capitalize text-white-50 text-center">This is the contact us  page of the website. </p>
    </div>

</div>
<!--================= end content =============================-->


    


