
    <!--================= start contect =============================-->

    <div class="">
        <div class="container bg-danger p-3 rounded">
            <h1 class="text-center text-white text-uppercase">Welcome from Home page!</h1>
            <hr />
            <p class="text-capitalize text-white-50 text-center">This is the index page of the website. </p>
      </div>
       
    </div>
    <!--================= end content =============================-->


