

<!--================= start contect =============================-->

<div class="">
    <div class="container bg-warning p-3 rounded">
        <h1 class="text-center text-white text-uppercase">Welcome from Privacy page!</h1>
        <hr />
        <p class="text-capitalize text-white text-center">This is the Privacy page of the website. </p>
    </div>

</div>
<!--================= end content =============================-->