
@{
    // ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<!--================= start contect =============================-->

<div class="mt-3">
    <div class="container bg-danger p-3 rounded">
        <h1 class="text-center text-white text-uppercase">Welcome from Sign In page!</h1>
        <hr />
        <p class="text-capitalize text-white text-center">This is the sign in  page of the website. </p>
    </div>

</div>
<!--================= end content =============================-->

